cfg={ "_id": "rs0", "version": 1, "members": [{"_id":0,"host":"192.168.33.21:27017"},{"_id":1,"host":"192.168.33.22:27017"},{"_id":2,"host":"192.168.33.23:27017"},{"_id":3,"host":"192.168.33.24:27017"}]}
rs.initiate(cfg)
//sleep(13000)
{% for host in groups['replication_servers'] %}
rs.add("{{ host }}:{{ mongod_port }}")
//sleep(8000)
{% endfor %}
printjson(rs.status())
