cfg={ "_id": "rs0", "version": 1, "members": [{"_id":0,"host":"192.168.33.11:27017"},{"_id":1,"host":"192.168.33.12:27017"},{"_id":2,"host":"192.168.33.13:27017"}]}
rs.initiate(cfg)
//sleep(13000)
{% for host in groups['replication_servers'] %}
rs.add("{{ host }}:{{ mongod_port }}")
//sleep(8000)
{% endfor %}
printjson(rs.status())
