cfg={ "_id": "rs0", "version": 1, "members": [{"_id":0,"host":"127.0.0.1:27017"}]}
rs.initiate(cfg)
//sleep(13000)
{% for host in groups['replication_servers'] %}
rs.add("{{ host }}:{{ mongod_port }}")
//sleep(8000)
{% endfor %}
printjson(rs.status())
